<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreWindowsWrapper" version="1.0.47" targetFramework="net48" />
  <package id="Diga.Core.Api.Win32" version="1.0.24" targetFramework="net48" developmentDependency="true" />
  <package id="Diga.NativeControls.WebBrowser" version="1.0.8" targetFramework="net48" />
  <package id="Diga.WebView2.Interop" version="8.0.1" targetFramework="net48" />
  <package id="Diga.WebView2.Wrapper" version="8.0.3" targetFramework="net48" />
  <package id="EasyXMLSerializer" version="1.0.9" targetFramework="net472" />
  <package id="MimeTypeExtension" version="1.0.24" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
</packages>