<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreWindowsWrapper" version="1.0.47" targetFramework="net48" />
  <package id="Diga.Core.Api.Win32" version="2.0.1" targetFramework="net48" developmentDependency="true" />
  <package id="Diga.NativeControls.WebBrowser" version="1.0.10" targetFramework="net48" />
  <package id="Diga.WebView2.Interop" version="12.0.1" targetFramework="net48" />
  <package id="Diga.WebView2.Wrapper" version="19.0.1" targetFramework="net48" />
  <package id="EasyXMLSerializer" version="2.0.1" targetFramework="net48" />
  <package id="MimeTypeExtension" version="1.0.28" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
</packages>